
* {
  box-sizing: border-box;
}

h3 {
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

table {
  width: 90%;
  margin: 2rem auto;
  max-width: 960px;
  display: block;


  thead {
    background: rgb(82, 86, 199);
    color: white;
  }

  th, td {
    padding: 0.5rem;
    text-align: center;
    border: none;
  }

  tbody tr:nth-child(odd) {
    background-color: rgb(205, 205, 237);
  }
}
